/* styles.css */

.card,
.card-planos {
  border: 1px solid #050505;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s; /* Transición suave para efectos de hover */
  text-align: center;
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  background: #111c2e;
}

.card,
.card-planos a {
  background: #0c1a2c;
}

.card-planos {
  background: transparent;
}

.card-planos a {
  border: 1px solid white;
}

.card:hover {
  transform: translateY(-5px); /* Elevar la tarjeta al pasar el ratón */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card:active {
  transform: translateY(0px);
}

.card-img-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-title,
.card-title-planos {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #f1f5f9;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.card-title-planos {
  background-color: #1e293b;
  display: inline-block;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #cbd5e1;
}

.preview-image {
  border-radius: 5px;
  max-height: 200px;
  margin-top: 10px;
  object-fit: cover;
}

.preview-pdf {
  border: 1px solid #ddd;
  margin-top: 20px;
  max-height: 200px;
  overflow-y: auto;
  object-fit: cover;
}

.delete-buttons {
  display: flex;
  gap: 10px;
}
