.modal-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
}

.modal-fullscreen-window {
  display: flex;
  padding: 20px;
  border: 2px solid rgba(173, 59, 14, 0.493);
  border-radius: 1%;
  height: 90vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal-fullscreen-window-pdf {
  min-width: 95%;
  max-width: 95%;
}

.modal-fullscreen img {
  width: 95%;
  aspect-ratio: 4 / 3;
  object-fit: contain;
}

.modal-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.modal-controls-pdf {
  display: flex;
  gap: 10px;
  align-items: center;
}
