.header {
  background: #0f172a !important;
  /* padding: 10px 0; */
}

header .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff !important;
}

.navbar-nav,
.nav-link {
  color: #f1f5f9 !important;
  font-weight: 500;
  margin-right: 15px;
}

.navbar-nav,
.nav-link:hover {
  color: #007bff !important;
}

header .navbar-toggler {
  border: none !important;
}

header .navbar-toggler-icon {
  color: #007bff !important;
}
