.modal-organizacion-users {
  --bs-modal-width: 700px;
  border-collapse: collapse;
  overflow: auto;
}

.user-search-div {
  max-height: 500px;
  overflow-y: auto;
}

.table-users {
  width: 100%;
}

.btn-user-org {
  font-size: 2rem;
  padding: 1px;
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-user-org:hover {
  transform: translateY(-2px);
  transform: scale(1.15);
}

.btn-user-org:active {
  transform: translateY(1px);
}

.btn-add-user-org {
  color: rgb(62, 133, 224);
}

.btn-add-user-org:hover {
  color: rgb(20, 104, 212);
}

.btn-delete-user-org {
  color: rgb(202, 55, 44);
}

.btn-delete-user-org:hover {
  color: rgb(160, 35, 26);
}

.btn-lock-user-org {
  color: rgb(255, 255, 255);
}

.btn-lock-user-org:hover {
  color: rgb(206, 206, 193);
}
