.pdf-plano,
.image-plano {
  padding: 20px;
  border: 2px solid rgba(173, 59, 14, 0.493);
  border-radius: 1%;
  margin: auto;
  max-width: 70%;
  position: relative;
}

@media (width <1000px) {
  .image-plano {
    max-width: 90%;
  }
}

.image-plano {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-plano {
  overflow: auto;
  display: grid;
  height: 60vh;
  align-content: space-evenly;
  justify-content: space-around;
}

.pdf-plano-fullScreen {
  height: 85vh;
  width: 100cm;
}

.image-plano img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.crop-preview {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 300px; /* Puedes ajustar el tamaño */
  height: 300px; /* Ajusta según el tamaño que desees */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crop-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botones-etiqueta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
