.table {
  width: 80%;
  margin: auto;
  border-spacing: 0;
  border-color: black;
}
.table th {
  background-color: #11234b;
  color: white;
  border: 1px solid #2d3748;
  text-align: center;
  vertical-align: middle;
}

.table td {
  background-color: #030e26;
  color: white;
  border: 1px solid #2d3748;
}
