/* ProyectoTable.css */
.table-container {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  text-align: center;
}

.table-container.visible {
  opacity: 1; /* Visible cuando loader es false */
  visibility: visible;
}

.table-container.invisible {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, visibility 0s;
}
